{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "project": "./tsconfig.eslint.json"
  },
  "rules": {
    "react/prop-types": 0
  },
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:react/recommended"
  ],
  "ignorePatterns": ["src/stories"],
  "settings": {
    "import/resolver": {
      "webpack": {
        "moduleDirectory": ["src", "types"],
        "extensions": [".ts"]
      }
    },
    "react": {
      "version": "16.9.0"
    }
  }
}
