.react-panzoom {
    width: 100%;
    height: 100%;
    overflow: hidden;
    touch-action: none;
}

.react-panzoom__in {
    display: inline-block;
    transform-origin: 0 0;
    pointer-events: none;
}

.react-panzoom--disable-user-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
