name: Deployment production
on:
  push:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: '16.19.0'
          registry-url: 'https://registry.npmjs.org'
      - name: Install dependencies and build
        run: pnpm i --frozen-lockfile && pnpm lint && pnpm test run && pnpm build
      - name: Publish package
        run: pnpm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
